form, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* Input field styles */
input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px;
}

/* Submit button styles */
button[type="submit"] {
  background-color: #9eca00; /* Green background color */
  border: 1px solid #ccc; /* Light grey border */
  color: #000000; /* White text color */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 50; /* Remove rounded corners */
}

/* Error message styles */
.error {
  color: red;
}

/* Success message styles */
.success {
  color: green;
}